# ignore svg, txt, json, html files
exclude: '^.*\.(svg|txt|json|html)$|build|dist'
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        args: [--line-length=128, --extend-exclude=.ipynb, --exclude=/build|dist/, --verbose]
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies: [pycodestyle>=2.11.0]
        args: [--max-line-length=128, '--exclude=./.*,build,dist', '--ignore=E501,W503,E203,F841,E231', --count, --statistics, --show-source]
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: [--profile=black, --line-length=128]
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    - id: nbqa-black
      args: [--line-length=128, --verbose]
    - id: nbqa-isort
      args: [--profile=black, --line-length=128]
